@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root {
    --blue: #0abde3;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 75%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .9rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: #0abde3;
}

section {
    padding: 8rem 9%;
    min-height: 100vh;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: #222;
}

.heading span {
    text-transform: uppercase;
    color: var(--blue);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: var(--blue);
    color: #fff;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 800;
    cursor: pointer;
    border: 1px solid var(--blue);
}

.btn:hover {
    background: #fff;
    color: black;
    letter-spacing: .2rem;
}

.button {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: var(--blue);
    border-radius: .5rem;
    color: #fff;
    font-weight: 800;
    font-size: 1.7rem;
    cursor: pointer;
    border: 1px solid var(--blue);
    margin-left: 2rem;
}

.button:hover {
    background: #fff;
    color: black;
    letter-spacing: .2rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 15%;
    background: var(--blue);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo {
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    font-weight: 900;
}

.header .navbar a {
    margin-left: 2rem;
    font-size: 2rem;
    color: #fff;
}

.header .navbar a:hover {
    letter-spacing: .3rem;
}


/* Scroll top */

.scrolltop {
    position: fixed;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    background: #000405;
    border-radius: .4rem;
    z-index: 10;
    transition: .4s;
}

.scrolltop__icon {
    font-size: 1.7rem;
    color: #0abde3;
}


.typing-text {
    color: var(--blue);
}

.logo span:hover {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active {
    display: none;
}

.loader-container img {
    height: 10rem;
}


/* Show scrolltop */

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}

#menu-bars {
    cursor: pointer;
    color: #fff;
    font-size: 3rem;
    display: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home .content {
    text-align: center;
    position: relative;
    z-index: 1;
}

.home .content img {
    height: 28rem;
    width: 25rem;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--blue);
}

.home .content img:hover {
    transform: scale(1.05);
}

.home .content h3 {
    font-size: 4rem;
    color: #222;
    text-transform: uppercase;
}

.home .content h3 span {
    color: var(--blue);
    text-transform: uppercase;
}

.home .content p {
    color: #222;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.5;
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image {
    text-align: center;
    flex: 1 1 25rem;
}

.about .row .image img {
    width: 30rem;
    border-radius: .5rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.about .row .content {
    flex: 1 1 55rem;
}

.about .row .content h3 {
    color: #222;
    font-size: 4rem;
}

.about .row .content h3 span {
    color: var(--blue);
}

.about .row .content .info {
    color: rgb(15, 1, 1);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 2;
}

.about .row .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
}

.about .row .content .box-container .box {
    flex: 1 1 20rem;
}

.about .row .content .box-container .box p {
    font-size: 1.7rem;
    color: rgb(17, 1, 1);
    padding: .5rem 0;
    line-height: 2;
}

.about .row .content .box-container .box p span {
    color: var(--blue);
    font-weight: 900;
}


/* Education section styling */

.education {
    text-align: center;
    color: #111;
    background: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
}

.education .max-width .titleedu {
    font-size: 6rem;
}

.education .max-width .titleedu span {
    color: var(--blue);
}

.education .serv-content .card {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    padding: 20px 25px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #f1f1f1;
}

.education .serv-content .card:hover {
    background: var(--blue);
}

.education .serv-content .card .box {
    transition: all 2s ease;
}

.education .serv-content .card i {
    font-size: 60px;
    color: rgb(20, 163, 220);
    transition: color 0.3s ease;
}

.education .serv-content .card:hover i {
    color: #fff;
}

.education .serv-content .card:hover .box {
    transform: scale(1.05);
}

.education .serv-content .card .college {
    font-size: 35px;
    color: black;
    margin: 10px 0 7px 0;
}

.education .serv-content .card p {
    color: black;
}

.services .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services .box-container .box {
    flex: 1 1 30rem;
    cursor: pointer;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 .9rem 1rem rgba(0, 0, 0, .1);
    padding: 4rem;
    text-align: center;
}

.services .box-container .box:hover {
    transform: scale(1.05);
}

.services .box-container .box i {
    color: var(--blue);
    font-size: 5rem;
    padding: 1rem 0;
}

.services .box-container .box h3 {
    color: #222;
    font-size: 2.5rem;
    padding-top: 1rem;
    font-weight: 900;
}

.services .box-container .box p {
    color: #333;
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 2;
    font-weight: 600;
}

.skills__data {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 800;
    padding: 2.5rem 1rem;
    font-size: 2rem;
    color: rgb(8, 0, 0);
    margin-bottom: 3rem;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}

.skills__data:hover {
    transform: scale(1.02);
}

.skills__icon {
    font-size: 3rem;
    margin-right: 2rem;
    color: #00aec5;
}

.skills__names {
    display: flex;
    align-items: center;
}

.skills__html {
    width: 95%;
}

.skills__css {
    width: 85%;
}

.skills__js {
    width: 65%;
}

.skills__c {
    width: 85%;
}

.skills__python {
    width: 85%;
}
.skills__java {
    width: 85%;
}
.skills__bootstrap {
    width: 85%;
}


.Project .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.Project .box-container .box {
    flex: 1 1 30rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 1.5rem;
}

.Project .box-container .box img {
    height: 20rem;
    width: 100%;
    border-radius: .3rem;
    object-fit: cover;
}

.Project .box-container .box:hover {
    transform: scale(1.05);
}

.Project .box-container .box h3 {
    color: black;
    font-size: 2.5rem;
    font-weight: 900;
    padding: .5rem 0;
}

.Project .box-container .box p {
    color: rgb(17, 1, 1);
    font-size: 1.5rem;
    font-weight: 600;
    padding: .5rem 0;
}

.contact .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row .image {
    flex: 1 1 42rem;
}

.contact .row .image img {
    width: 100%;
}

.contact .row form {
    flex: 1 1 42rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem;
    text-align: center;
}

.contact .row form h3 {
    color: var(--black);
    font-size: 3rem;
}

.contact .row form .box {
    width: 100%;
    margin: .8rem 0;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    border: 1px solid var(--blue);
    text-transform: none;
    font-size: 1.4rem;
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}

.footer {
    text-align: center;
    height: 100%;
    background-color: var(--blue);
    /* padding-bottom: 8rem; */
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    color: var(--black);
    font-size: 4rem;
    margin: 1rem;
}

.footer .share a:hover {
    color: white;
}

.footer .credit {
    padding: 2rem 1rem;
    text-align: center;
    font-size: 2rem;
    color: var(--black);
}

.footer .credit span {
    color: white;
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1rem;
    }
    section {
        padding: 9.6rem;
    }
}


/* media queries  */

@media (max-width:768px) {
    #menu-bars {
        display: initial;
    }
    #menu-bars.fa-times {
        transform: rotate(180deg);
    }
    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--blue);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a {
        font-size: 2rem;
        margin: 2.5rem 2rem;
        display: block;
    }
}

@media (max-width:100px) {
    html {
        font-size: 10%;
    }
    .heading {
        font-size: 4rem;
    }
    .about .row .image img {
        margin: 0px -100px;
    }
    .contact .row form .inputBox input {
        width: 100%;
    }
}

@media (max-width:550px) {
    .about .row .image img {
        margin: 0px -52px;
    }
    .about .row .content .info {
        color: rgb(7, 0, 0);
    }
    .about .row .content .box-container .box p {
        color: rgb(12, 0, 0);
    }
    section {
        padding: 6.2rem;
    }
    .show-scroll {
        width: 1.7rem;
    }
    .content .button {
        margin-left: 1rem;
    }

}